.photoGalleryCard {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoGalleryCard__box {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 10px;
  justify-content: center;
}

/* Cards */
.photoGalleryCard__box__card {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.photoGalleryCard__box__card img {
  height: 300px;
  border-radius: 8px;
}

.photoGalleryCard__box__card span {
  background-color: rgba(9, 8, 8, 0.4);
  width: 100%;
  height: 50px;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #ffff;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Scroll to top button */
.photoGalleryCard__scrollToTop {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  z-index: 100;
  /* background-color: #d84594; */
  color: #ffff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
