.library {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.library__margin {
  display: flex;
}

.library__margin__container {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 150px;
  position: relative;
}

.library__header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 200px;
  position: relative;
}

.library__margin__container__header__button {
  background-color: transparent;
  color: #d84594;
  font-size: 42px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
